#container {
    text-align: center;
    background: linear-gradient(35deg, #cff ,#ffccc7, #fcc);
    padding: 10px;
}

canvas {
    position: relative;
    top: 0px;
    border-radius: 15px;
    box-shadow: 0px -1px 40px 10px #444444;
}